SECRET_KEY=tu_secret_key_aqui
DEBUG=True
DATABASE_URL=postgresql://usuario:password@localhost:5432/ecowatt_db
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC=ecowatt/medicion
GEMINI_API_KEY=tu_api_key_aqui
CLAUDE_API_KEY=tu_api_key_aqui
ALLOWED_HOSTS=localhost,127.0.0.1